.searchBoxContainer{
    input{
        display: block;
        width:250px;
        margin:0 auto;
        padding:10px;
    }
    button{
        display: block;
        margin: 0 auto;
        padding: 10px;
        width:100px;
        margin-top: 10px;
    &:hover{
        cursor: pointer;
    }
   }
}